<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script>
        var host = 'mitya777.github.io';
        if (window.location.host == host && window.location.protocol != 'https:') { 
            window.location.protocol = 'https:';
        }
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-39731631-2', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body data-knovigator='true'>
    <div class="wrapper">
      <header>
        <h1><a href="https://mitya777.github.io">First Draft</a></h1>
        <p>Metamitya</p>


        <p class="view"><a href="https://twitter.com/metamitya"><i class="fa fa-twitter"></i></a></p>
        <div id="newsletter-signup">
            <!-- Begin MailChimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
            <style type="text/css">
                #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:400px;}
                /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <div id="mc_embed_signup">
            <form action="//github.us11.list-manage.com/subscribe/post?u=3174b1169a218e4218344d3ef&amp;id=5ec81eee9a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                <label for="mce-EMAIL">Subscribe for new posts.</label>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_3174b1169a218e4218344d3ef_5ec81eee9a" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
            </div>
            <!--End mc_embed_signup-->
        </div>
      </header>

      <section>
        {{ content }}
      </section>

      <footer>
      </footer>
    </div>

    <script src="/javascripts/scale.fix.js"></script>

    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/javascripts/rangy-core.js"></script>
    <script src="/javascripts/underscore.js"></script>    
    <script src="/javascripts/handlebars-v2.0.0.js"></script>

    <script src="/knode/javascripts/loader.js"></script>    
    <script src="/knode/javascripts/popover/frame.js"></script>    
    <script src="/knode/javascripts/popover/localQuestsPopover.js"></script>    
    <script src="/knode/javascripts/marker.js"></script>    
    <script src="/knode/javascripts/gate.js"></script>    
    <script src="/knode/main.js"></script>    
  </body>
</html>
