<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-39731631-2', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
  <body data-knovigator='true'>
    <div class="wrapper">
      <header>
        <h1><a href="http://mitya777.github.io">First Draft</a></h1>
        <p>Metamitya</p>


        <p class="view"><a href="https://twitter.com/metamitya"><i class="fa fa-twitter"></i></a></p>

      </header>

      <section>
        {{ content }}
      </section>

      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>

    <script src="/javascripts/scale.fix.js"></script>

    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/javascripts/rangy-core.js"></script>
    <script src="/javascripts/underscore.js"></script>    
    <script src="/javascripts/handlebars-v2.0.0.js"></script>

    <script src="/knode/javascripts/loader.js"></script>    
    <script src="/knode/javascripts/popover/frame.js"></script>    
    <script src="/knode/javascripts/popover/localQuestsPopover.js"></script>    
    <script src="/knode/javascripts/marker.js"></script>    
    <script src="/knode/javascripts/gate.js"></script>    
    <script src="/knode/main.js"></script>    
  </body>
</html>
