$icon_width: 30px;
$content_width: 400px; 
$quest_color: #10318f;
$answer_color: #8b3333;

.html {
}
.body {
    width: 450px;
    margin: 0px !important;
}

.vote-container {
    float: left;
    margin-right: 10px;
    color: #bbb;
    .vote-value {
        width: 26px;
        text-align: right;
        margin: 2px 0 0 0;
        font-size: 11px;
        float: left;
    }
    .vote-buttons {
        position: relative;
        font-size: 19px;
        width: 14px;
        margin: -11px 0 0 5px;
        float: left;
        cursor: pointer;
        .vote {
            left: 2px;
            &:hover:not(.voted) {
                opacity: .6;
                left: 1px;
                font-size: 23px;
            }
        }
        .vote-up {
            position: absolute;
            top: 2px;
            &:hover, &.voted { 
                top: -1px;
            }
        }
        .vote-down {
            position: absolute;
            top: 18px;
        }
        .voted {
            opacity: .8;
            left: 1px;
            font-size: 23px;
        }
    }
}

.question {
    padding: 20px 0 18px 0;
    .vote-container {
        visibility: hidden;
        .vote-up, .vote-down {
            &:hover {
                color: $quest_color;
            }
            &.voted {
                color: $quest_color;
            }
        }
    }
    .icon {
        color: $quest_color;
        float: left;
        width: $icon_width;
        text-align: center;
    }
    .content {
        float: left;
        font-weight: 600;
        color: $quest_color;
        width: $content_width;
    }

    .launch-quest {
        cursor: pointer;
        margin-right: 5px;
        visibility: hidden;
        opacity: .2;
        &:hover {
            opacity: .85;
        }
    }
}

.question:hover {
    .launch-quest {
        visibility: visible;
    }
}

.container {
    font-family: 'Avenir';
    font-size: 13px;
    background: white;
    padding: 0 10px;
    border: solid 1px #bbb;
    box-shadow: 0 0 15px -3px #555;
    .header-wrapper {
        text-align: center;
        .header{
            font-size: 14px;
            margin-left: -50px;
            display: inline-block;
            overflow: ellipsis;
            padding: 20px 0 0 20px;
            .icon{
                opacity: .25;
                float: left;
                width: $icon_width;
                text-align: center;
            }
            .inspiration{
                width: 450px;
                font-size: 12px;
                float: left;
            }
        }
    }
    .quests {
        .quest {
            border-top: solid 1px #eee;

            .answers {
                .answer {
                    .vote-up, .vote-down {
                        &:hover {
                            color: $answer_color;
                        }
                        &.voted {
                            color: $answer_color;
                        }
                    }
                    .answer-container {
                        float: left;
                        padding-bottom: 5px;
                        margin: 0 0 18px 0;
                        .icon {
                            float: left;
                            width: $icon_width;
                            text-align: center;
                            color: $answer_color;
                            &.selection {
                                opacity: 1;
                            }
                            &.title { 
                                opacity: 1;
                                i.hidden{
                                    visibility: hidden;
                                }
                            }
                        }
                        .content {
                            float:left;
                            width: $content_width;
                            &.selection {
                                font-size: 14px;
                                font-family: "Times New Roman";
                                margin: 0 0 5px 0;
                            }
                            &.title {
                                a {
                                    color: #AC2222;
                                    text-decoration: none;
                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                        .notes {
                            padding: 3px 10px;
                            font-family: "Gill Sans";
                            color: #886160;
                            background-color: rgb(255, 244, 169);
                            border: solid 1px #FFE8C0;
                            width: 350px;

                            margin-left: 30px;
                            &.notes-header {
                                opacity: .4;
                                margin-top: 15px;
                            }
                            margin-top: 10px;
                        }
                    } 
                }
            }
        }
    }

    .question.new-question-container {
        padding-left: 55px;
        .icon {
            opacity: .2;
        }
        .content{

            input {
                margin: 0;
                padding: 0;
                outline: none;
                border: none;
                font-family: 'Avenir';
                font-size: 13px;
            }
        }
        .launch-quest {
            cursor: pointer;
            margin-right: 5px;
            &.focused {
                visibility: visible;             
            }
        }
    }
}

.qtip-custom .qtip-content {
  font-family: 'Avenir';
}

.pleft {
    float: left;
}

.pright {
    float: right;
}

.clear {
    clear: both;
}
