#Layer_1 {
    margin-top: 20px;
    width: 706px;
    height: 700px;
}
#context{
    position: absolute;
    font-family: Avenir;
    font-size: 14px;
    width: 450px;
}

.svg-text, .svg-shape {
    cursor: pointer;
}

.action {
    cursor: pointer;
}

.next-view {
    stroke: gray;
    stroke-width: 3px;
    filter: drop-shadow( -5px -5px 5px #000 );
    -webkit-filter: drop-shadow( -5px -5px 5px #000 );
}

.svg-shape {
    stroke: gray;
}

.hovered {
    stroke: red;
    stroke-width: 2px;
}

.red-stroke {
    stroke: red !important;
}

.up-stroke-width {
    stroke-width: 5px !important;
}

